# Server
PORT=3000

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bishtvansh491@gmail.com
SMTP_PASS=your_app_password_here
MAIL_TO=bishtvansh491@gmail.com

# hCaptcha
HCAPTCHA_SITEKEY=01dc0850-cabc-4daa-8bdc-e3d816a65d6c
HCAPTCHA_SECRET=your_hcaptcha_secret_here
